<div class="content" role="main">


    <div class="card highlight-card card-small">

        <h1 style="text-align: center;"> BIENVENIDO A {{ title }} </h1>

        <div>
            <mat-card>
                <form action="" class="action">
                    <mat-form-field>
                        <mat-select placeholder="Día de la semana">
                            <mat-option *ngFor="let dia of dias" [value]="dia">
                                {{dia}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Elige el plato">
                            <mat-option *ngFor="let plato of platos">
                                {{plato.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </mat-card>
            <br>
            <br>
            <div class="saveButton">
                <button mat-flat-button color="warn">
                GUARDAR
                </button>
            </div>
            <br>
            <br>
        </div>
    </div>

</div>

<mat-tab-group>
    <mat-tab *ngFor="let dia of dias" label={{dia}}> </mat-tab>
</mat-tab-group>
<!-- <mat-card>
    <div class="row">
        <ul class="list-group" *ngFor="let plato of platos">
            <li>{{plato.nombre}}</li>
            <li>{{plato.descripcion}}</li>
            <li>{{plato.calorias}}</li>
        </ul>
    </div>
</mat-card> -->