<div class="content" role="main">


    <div class="card highlight-card card-small">

        <h1 style="text-align: center;"> BIENVENIDO A {{ title }} </h1>

        <div>
            <mat-card>
                <form action="" class="action">
                    <mat-form-field>
                        <mat-select placeholder="Día de la semana">
                            <mat-option *ngFor="let dia of dias" [value]="dia">
                                {{dia}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Elige el plato">
                            <mat-option *ngFor="let id of platosId" [value]="id">
                                {{id}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </mat-card>
            <br>
            <br>
            <div class="saveButton">
                <button mat-flat-button color="warn">
                GUARDAR
                </button>
            </div>
            <br>
            <br>
        </div>
    </div>

</div>


<mat-tab-group>
    <mat-tab *ngFor="let dia of dias" label={{dia}}> </mat-tab>
</mat-tab-group>