<div class="content" role="main">
    <div class="card highlight-card card-small">
        <h2 style="text-align: center;">PLATOS PRINCIPALES</h2>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let plato of platos, index as i">
                <h4><span style="font-weight: bold;">Nombre: </span>{{plato.nombre}}</h4>
                <h4><span style="font-weight: bold;">Calorías: </span>{{plato.calorias}}</h4>
                <a [routerLink]="[ '/platos', i] ">Saber más...</a>
            </li>
        </ul>
    </div>
</div>